<div class="container-fluid header">
  <div class="Rectangle1 ">
                   <!-- page logo-->
    <div class=" d-flex  justify-content-end float-end clearfix me-lg-5 pe-5 logo">
      <img src="assets/images/download 1.png">
    </div>

    <div class=" row flex-row ">
                    <!-- user informatin-->
      <div class="col-lg-4 col-sm-12 d-inline-flex flex-lg-column  ">
        <div class="row mx-5 pt-4 mx-sm-4  ">
          <div class="col-8 align-items-end  d-inline-block mx-0 px-0 info ">
            <p class="text-end mb-0 h5">فهد</p>
            <p class="text-end">مدقق الشكاوي</p>
          </div>
          <div class="col-4 d-flex px-1">
            <img class="rounded-circle profilePhoto" src="assets/images/profilePhoto.png">
          </div>
        </div>
      </div>
                    <!-- setting buttons-->
      <div class="headerBtns col-lg-2  col-md-6 pt-4  mx-sm-5">
        <button ><span>AR</span></button>
        <button >
          <fa-icon class="specialIcons faBell bellIcon" [icon]="fabell"></fa-icon>
        </button>
      </div>
                    <!-- search bar-->
      <div class="d-inline-flex col-lg-5 col-md-8 col-sm-12 flex-column px-md-5 pt-4 ">
        <div class="row ">
          <div class="bg-white col-1 d-flex px-0 py-2 justify-content-center align-items-center searchbaricon">
            <i class="bx bx-search "></i>
          </div>
          <div class=" col-11 px-0  ">
            <input type="text" placeholder="ما الذي تبحث عنه" class="border-0 text-right w-100 py-2  pe-3 searchbar ">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
